# Assignment

Create an new Jupyter notebook (.ipynb). In this notebook create a variable ```posts``` that contains data about multiple (two) Instagram posts. Each post should have an ```id```, a ```creator```, a ```creator id```, a ```message``` and an ```image```.

Use Python lists and dictionaries for doing this. The data values can be freely invented.

Tip: Human readability / comprehensibility of source code is often increased if one splits complex commands into a series of simple commands.

Once your are done you can check if you found a good solution by transforming your ```posts``` variable into a Pandas Dataframe (which in effect is a table). For doing so use the following code:

```
import pandas as pd
posts_df = pd.json_normalize(posts)
```

In case you get the error that pandas could not be found run the following command once: 

```
!pip3 install pandas
```

 Please submit a notebook with your solution until Monday evening (8PM) via moodle.

# Solutions

In [3]:
# There are multiple ways to create the list of dictionaries. 

# Appoach 1: One step definition
# Credits: Christian Spengler

posts_solution_1 = [
    {
        "id": 1,
        "creator": 'John',
        "creator id": 123,
        "message": 'Beautiful sunset',
        "image": 'sunset.jpg'
    },
    {
        "id": 2,
        "creator": "Jane",
        "creator id": 456,
        "message": 'Delicious food!',
        "image": 'food.jpg'
    }
]

In [4]:
# Approach 2: Multi step definition
# Credits: Lea Dickhaus

# Define the first post
post1 = {
    'id': 12345,
    'creator': 'Phil',
    'creator id': 'TheBestCreator',
    'message': 'Hello, I am the best creator!',
    'image': 'a new value'
}

# Define the second post
post2 = {
    'id': 67891,
    'creator': 'Johanna',
    'creator id': 'TheWorstCreator',
    'message': 'Hello, I am the worst creator!',
    'image': 'a new value 2'
}

# Create the list containing both dictionaries of posts
posts_solution_2 = [post1, post2]

In [5]:
# Now transform the first list of dictionaries into Pandas Dataframe and show the first 3 rows

import pandas as pd

df_solution_1 = pd.DataFrame(posts_solution_1)
df_solution_1.head(3)

   id creator  creator id           message       image
0   1    John         123  Beautiful sunset  sunset.jpg
1   2    Jane         456   Delicious food!    food.jpg

In [8]:
# ransform the second list of dictionaries into Pandas Dataframe and show the first 3 rows
# Alternatively use pd.json_normalize

df_solution_2 = pd.json_normalize(posts_solution_2)
df_solution_2.head(3)

,id,creator,creator id,message,image
0,12345,Phil,TheBestCreator,"Hello, I am the best creator!",a new value
1,67891,Johanna,TheWorstCreator,"Hello, I am the worst creator!",a new value 2

## Additional information: Or why its important to remember pd.json_normalize()

It is recommended to use ```pd.json_normalize()``` function instead of ``pd.DataFrame()```because json normalize handels nested dictionaries.

In [9]:
nested_example = [{
    'post_id': 12345,
    'creator': {
        'creator_id': 'TheBestCreator',
        'name': 'Phil',
        'thumbnail': 'phil.jpg'
    },
    'message': 'Hello, I am the best creator!',
    'image': 'a new value'
}]

In [10]:
pd.DataFrame(nested_example)

,post_id,creator,message,image
0,12345,"{'creator_id': 'TheBestCreator', 'name': 'Phil...","Hello, I am the best creator!",a new value

Above you see in the column creator a dictionary as value. This can be resolved with json_normalize

In [11]:
pd.json_normalize(nested_example)

,post_id,message,image,creator.creator_id,creator.name,creator.thumbnail
0,12345,"Hello, I am the best creator!",a new value,TheBestCreator,Phil,phil.jpg

The above DataFrame has more columns. All Values contained in creator are now separate columns. Each key is prefixed by its parent key "creator" separated by a "."